<div class="container">
	
<div class="col-md-6">
	<% @completados.each do |t|%>
	<div class="well">
		<%= t.description %>
		<%= t.completed %>
	</div>
	<% end %>
</div>

<div class="col-md-6">
		<% @incompletos.each do |t|%>
	<div class="well">
		<%= t.description %>
		<%= t.completed %>
	</div>
	<% end %>
	
</div>



</div>